.footer{
    background-color: black;
    padding: 50px 0;
}
.footer ul{
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}
.footer ul li a{
    color: #ddd;

}
.footer h4{
    color: #ffffff;
    margin-bottom: 20px;
}